<div class="container">



  <div class="titre">
    <span id="worldname" style="top: 50%; position: relative;">{{ world.name }}</span>
  </div>

  
    <div class="header">
      
      <span
        >Joueur : <input
          type="text"
          [(ngModel)]="username"
          (change)="onUsernameChanged()"
      /></span>
      <span>Argent gagné : {{ world.money }}</span>
      <button mat-raised-button (click)="nextMultiplier()" >
        {{ multiplier }}
      </button>
    </div>
    <!--
  <div class="logo">
    <span><img [attr.src]="server + world.logo" /></span>
    <span id="worldname">{{ world.name }}</span>
  </div>
  <div class="bandeau">
    <ul>
      <li>
        <button mat-raised-button color="primary">Unlocks</button>
      </li>
      <li>
        <button mat-raised-button>Cash Upgrades</button>
      </li>
      <li>
        <button mat-raised-button>Angel Upgrades</button>
      </li>
      <li>
        <button mat-raised-button (click)="showManagers = true">
          Managers
        </button>
      </li>
      <li>
        <button mat-raised-button>Investors</button>
      </li>
    </ul>
  </div>

  <div class="central">
    <app-product
      [prod]="p"
      [server]="server"
      [multiplier]="multiplier"
      [money]="world.money"
      class="product col-md-6"
      *ngFor="let p of world.products.product"
      (notifyProduction)="onProductionDone($event)"
      (notifyBuy)="onBuy($event)"
    ></app-product>
  </div>

  <div class="header">
    <span>{{ world.money }}</span>
    <span
      ><input type="text" [(ngModel)]="username" (change)="onUsernameChanged()"
    /></span>
    <button mat-raised-button (click)="nextMultiplier()" style="float: right">
      {{ multiplier }}
    </button>
  </div>

  <div *ngIf="showManagers" class="modal">
    <div><h1 class="title">Managers make you feel better !</h1></div>
    <div>
      <div *ngFor="let manager of world.managers.pallier">
        <div *ngIf="!manager.unlocked" class="managerslayout">
          <div>
            <div class="logo">
              <img class="round" [attr.src]="server + manager.logo" />
            </div>
          </div>
          <div>
            <div class="managername">{{ manager.name }}</div>
            <div class="managercible">
              {{ world.products.product[manager.idcible - 1].name }}
            </div>
            <div class="managercost">{{ manager.seuil }}</div>
          </div>
          <div>
            <button
              class="hirebutton"
              mat-raisedbutton
              (click)="hireManager(manager)"
              [disabled]="manager.seuil > world.money"
            >
              Hire !
            </button>
          </div>
        </div>
      </div>
      <button
        class="closebutton"
        mat-raisedbutton
        color="primary"
        (click)="showManagers = !showManagers"
      >
        Close
      </button>
    </div>
  </div>
</div>
