<div class="container">
  <div class="central">
    <app-product
      [prod]="p"
      [server]="server"
      [multiplier]="multiplier"
      [money]="world.money"
      class="product col-md-6"
      *ngFor="let p of world.products.product"
      (notifyProduction)="onProductionDone($event)"
    ></app-product>
  </div>
  <div class="left"></div>
  <div class="header">
    <div class="money">{{ world.money }}</div>
    <div class="buy">
      <button mat-raised-button (click)="nextMultiplier()">
        {{ multiplier }}
      </button>
    </div>
    <div class="id"></div>
  </div>
  <div class="logo">
    <span><img [attr.src]="server + world.logo" /></span>
    <span id="worldname">{{ world.name }}</span>
  </div>
  <div class="bandeau">
    <ul>
      <li>
        <button mat-raised-button color="primary">Unlocks</button>
      </li>
      <li>
        <button mat-raised-button>Cash Upgrades</button>
      </li>
      <li>
        <button mat-raised-button>Angel Upgrades</button>
      </li>
      <li>
        <button mat-raised-button>Managers</button>
      </li>
      <li>
        <button mat-raised-button>Investors</button>
      </li>
    </ul>
  </div>
</div>
