<div class="product">
  <div class="logo">
    <img
      class="logoprod"
      [attr.src]="server + product.logo"
      (click)="startFabrication()"
    />
    <div class="numberproduct" [innerHTML]="product.quantite | bigvalue"></div>
  </div>

  <div class="money">
    <mat-progress-bar
      class="progressbar"
      [value]="progressBarValue"
    ></mat-progress-bar>
    <div class="money2" [innerHTML]="product.revenu | bigvalue"></div>
  </div>

  <div class="number">
    <button
      mat-raised-button
      [disabled]="isDisabled"
      (click)="buy()"
      style="width: 100px; overflow: hidden"
    >
      Buy x{{ nbCanBuy }} : <span [innerHtml]="neededMoney | bigvalue"></span>
    </button>
  </div>

  <div class="time" [innerHtml]="product.vitesse | time"></div>
</div>

<!--<div class="number">{{ product.quantite }}</div> -->
