<div class="product">
  <div class="logo">
    <img
      class="logoprod"
      [attr.src]="server + product.logo"
      (click)="startFabrication()"
    />
    <div class="numberproduct" [innerHTML]="product.quantite"></div>
  </div>

  <div *ngIf="product.vitesse > 150" class="money">
    <mat-progress-bar
      class="progressbar"
      [value]="progressBarValue"
    ></mat-progress-bar>
    <div class="money2" [innerHtml]="product.timeleft | time"></div>
  </div>
  <div *ngIf="product.vitesse < 150 && product.managerUnlocked" class="money">
    <mat-progress-bar class="progressbar" mode="buffer"></mat-progress-bar>
    <div class="money2" [innerHTML]="product.vitesse | time"></div>
  </div>

  <div class="number">
    <button
      mat-raised-button
      [disabled]="isDisabled"
      (click)="buy()"
      style="
        width: 100%;
        overflow: hidden;
        text-align: center;
        padding: 0px 0px 0px 0px;
      "
    >
      Buy x{{ nbCanBuy }} : <span [innerHTML]="neededMoney | bigvalue"></span>
    </button>
  </div>

  <div class="time">
    Revenu :
    <span
      [innerHTML]="product.revenu * product.quantite * angelsBonus | bigvalue"
    ></span>
  </div>
</div>
