.product {
    display: grid; 
    grid-template-columns: 0.9fr 1fr 1fr; 
    grid-template-rows: 0.8fr 0.9fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "logo money money"
      "logo number time"; 
  }

.logo {
  grid-area: logo;
  
}

.money {
  grid-area: money;
}

.number {
  grid-area: number;
}

.time {
  grid-area: time;
}

.logoprod {
  width: 100px;
  height: 100px;
  border-radius: 50%
}
