.product {
  display: grid;
  border: 2px inset rgba(59, 64, 66, 0.9);
border-radius: 50px;
  width: 100%;
  grid-template-columns: 0.9fr 1fr 1fr;
  grid-template-rows: 0.8fr 0.9fr;
  gap: 0px 0px;
  grid-template-areas:
    "logo money money"
    "logo number time";
  background-image: url("http://localhost:8081/icones/texture.jpg");
  overflow: hidden;
  background-size: cover;
  color: aliceblue;
  font-size:larger;
  overflow: hidden;
  background-size: cover;
  
}

.logo {
  grid-area: logo;
}

.money {
  grid-area: money;
  position: relative;
  
}

.money2 {
  position: relative;
  left: 40%;
  top: 20%;
  
  
}

.number {
  grid-area: number;
}

.time {
  grid-area: time;
}

.logoprod {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
}


mat-progress-bar {
          height: 40px;
          position: absolute;
          border-radius: 5px;
          background-image: url("http://localhost:8081/icones/damier.jpg");
         
          
}